.notification-list-element {
position: relative;

  .notification-count {
    display: flex;
    height: 2em;
    width: 2em;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border-radius: 50%;
    padding-bottom: 0.15em;
    cursor: pointer
  }

  .notification-list {
    position: absolute;
    top: calc(100% + 1em);
    right: -1em;
    left: initial;
    z-index: 1;
  }

  .notification {
    width: 258px;

    + .notification {
      margin-top: 0.5rem !important;
    }
  }
}
