#contact-list-page {
  label.form-group {
    display: block;

    > span {
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }

  leaflet-map {
    display: block;
    height: 250px;
  }
}
